* {
  font-size: 13px;
  font-weight: 460;
  color: black;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  position: relative;
}

.container {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  position: absolute;
  top: 30%;
  left: 36%;
  border: 1px solid gray;
  width: 27%;
  height: 50vh;
  border-radius: 6px;
  box-shadow: 2px 1px 3px gray;
}
form{
  display: grid;
  place-items: center;
  width: 100%;
}
Input {
  height: 2vh;
  padding: 2%;  
  margin: 3%;
  width: 60%;
  border-radius: 6px; 
  border: 1px solid gray;
}

.signUp-BTN {
  width: 40%;
  height: 4vh;
  background-color: transparent;
  border: 1px solid rgb(252, 29, 29);
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.container p span {
  color: blue;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.container h1{
  font-size: 30px;
}
